*{
    margin: 0;
    padding: 0;
    
}
.container{
    background-color: gray;
}
h1{
    margin: 10px;
}
.title{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
p{
    color: rgb(0, 0, 0);
}
.gamer{
    width: 45%;
    margin: 10px;
    display: flex;
    align-items: center;
    
}

.tour{
    width: 45%;
    margin: 10px;
    display: flex;
    align-items: center;


}
.tourGamer{  
    display: flex;
    justify-content: center;
    margin-top: 70px;

}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 44, 44);
    color: rgb(255, 225, 0);
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar{
    display: flex;
 list-style: none;
}
.nav{
    margin: 20px;
}

a{
    text-decoration: none;
    color: rgb(255, 238, 0);
}
a:hover{
    color: white;
    border-bottom: 1px solid white;
}
.middle{
    
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
img{
    width: 50%; 
    height: 300px;
    
}
.footer{
    display: flex;
    justify-content: center;
    background-color:rgb(47, 44, 44) ;
    padding: 10px;
    
}
.ecrit{
    color: rgb(255, 225, 0);
   
}